.tableHeader{

    width: 100%;
    min-height: 40px;
    height: fit-content;
    max-height: 60px;
    background-color: var(--branco);
    border-left: 1px solid var(--branco-20-escuro);
    border-right: 1px solid var(--branco-20-escuro);
    border-top: 1px solid var(--branco-20-escuro);
    padding-right: 10px;

    display: flex;
    flex-direction: row;

}

.default-tableHeader{
}

.dropdown-tableHeader{
    padding-left: 40px;

}
