:root{
    --branco: #FAFAFA;
    --branco-5-escuro: #F0F0F0;
    --branco-10-escuro: #E7E7E7;
    --branco-15-escuro: #DDDDDD;
    --branco-20-escuro: #D3D3D3;
    --cinza: #ACABAC;
    --preto: #373536;
    --preto-5-claro: #413F40;
    --preto-10-claro: #4A4849;
    --preto-15-claro: #545253;
    --preto-20-claro: #5E5C5D;
    --preto-25-transparente: rgba(55,53,54,0.75);
    --preto-60-transparente: rgba(55,53,54,0.40);
    --preto-75-transparente: rgba(55,53,54,0.25);
    --preto-85-transparente: rgba(55,53,54,0.15);
    --verde: #00A859;
    --verde-20-claro: #32B879;
    --verde-40-claro: #64C999;
    --verde-20-escuro: #0B9152;
    --verde-40-escuro: #167A4B;
    --verde-60-transparente: rgba(0,168,89,0.40);
    --verde-80-transparente: rgba(0,168,89,0.20);
    --verde-95-transparente: rgba(0,168,89,0.10);
    --verde-alt: #8FC74A;
    --verde-alt-20-claro: #A4D16D;
    --verde-alt-40-claro: #BADB90;
    --verde-alt-20-escuro: #7DAA46;
    --verde-alt-40-escuro: #6C8D42;
    --verde-alt-40-transparente: rgba(143,199,74,0.40);
    --verde-alt-20-transparente: rgba(143,199,74,0.20);
    --vermelho: #D81919;
    --vermelho-20-claro: #DF4646;
    --vermelho-40-claro: #E67373;
    --vermelho-20-escuro: #B81F1F;
    --vermelho-40-escuro: #982425;
    --vermelho-60-transparente: rgba(217,41,41,0.40);
    --vermelho-80-transparente: rgba(217,41,41,0.20);
    --amarelo: #DBD321;
    --amarelo-20-claro: #E1DB4C;
    --amarelo-40-claro: #E7E378;
    --amarelo-20-escuro: #BAB325;
    --amarelo-40-escuro: #999429;
    --amarelo-60-transparente: rgba(219,211,33,0.40);
    --amarelo-80-transparente: rgba(219,211,33,0.20);
}
