.nav-button {
    background-color: var(--verde-alt);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    width: 30px;
    height: 30px;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button:hover {
    background-color: var(--verde);
}

.nav-button:disabled {
    background-color: var(--cinza);
    cursor: not-allowed;
}

.nav-button:disabled > * {
    color: var(--preto-60-transparente);
}

.nav-button > * {
    width: 18px;
    height: 18px;
    color:var(--preto);
}


.nav-button.left > * {
    transform: rotate(0deg);
}

.nav-button.right > * {
    transform: rotate(180deg);
}
