.sidebar {
    position: absolute;
    border: 1px solid var(--branco-20-escuro);
    border-top: none;
    border-bottom: none;
    left: 0;
    top: 0;
    width: 50px;
    height: calc(100vh - 50px);
    background-color: var(--branco);
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 14px;
    gap: 20px;
    bottom: 0;
    z-index: 999;
}

.sidebar:hover {
    padding: 50px 20px;
    width: 200px;
}

.item-sidebar {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    position: relative;
}

.item-sidebar div, .item-sidebar a {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item-sidebar:active{
  color: var(--verde); /* isso aqui também não ta funcionando*/
}

.item-sidebar span {
    font-weight: 500;
    font-size: 18px;
    opacity: 0;
    display: none;
    min-width: 120px;
    max-width: 120px;
}

.sidebar:hover .item-sidebar span {
  display: inline;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.item-sidebar:hover {
  color: var(--verde);
}

.sub-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 10px;
}

.sub-item-sidebar {
  display: flex;
  font-size: var(--16px);
  color: var(--preto);
  cursor: pointer;
  font-weight: 500;
}

.sub-item-sidebar span {
  font-weight: 500;
  display: inline-block;
}

.sub-item-sidebar:hover {
  color: var(--verde);
}

.arrow-icon {
  margin-left: 10px;
  width: 12px;
  height: 12px;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(-90deg);
}

.rotated, .arrow-icon:hover {
  filter: invert(32%) sepia(88%) saturate(401%) hue-rotate(85deg) brightness(95%) contrast(93%);
}

.selected {
  color: var(--verde);
}
