.data-table-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.data-table-content{
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--branco);
    border-left: 1px solid var(--branco-20-escuro);
    border-right: 1px solid var(--branco-20-escuro);
}
